@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --background-color: #ffffff;
    --light-gray: #d9d9d9;
    --gray: #808080;
    --dark-gray: #555;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.1rem;
}

.header-content{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.625rem;
}

.logo-icon{
    height: 5.875rem;
    width: 1.938rem;
}

.logo-text{
    font-size: 2rem;
    font-weight: bold;
}

.nav{
    display: none;
    gap: 2rem;
}

@media screen and (min-width:786px) {
    .nav{
        display: flex;
    }
    
}

.nav-link{
    color: #555;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;
}

.nav-link:hover{
    color: #3f83f8;
}

.contact-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (min-width:786px) {
    .contact-button{
        display: block;
    }
}

.contact-button:hover{
    background-color: var(--accent-color);
    cursor: pointer;
}

.menu-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--background-color);
    padding: 0.75rem 1rem;
}

@media screen and (max-width:786px){
    .menu-button{
        display: block;
    }
}

.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}

.main-section{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
}

.content-left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft {
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.section-label{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}

.section-tittle{
    font-size: 2.3rem;
    padding: 1.1rem;
    color: var(--text-color);
}

.section-desc{
    color: var(--gray);
    font-size: 1.13rem;
}

.button-group{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}


.start-button,
.tour-button{
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.tour-button{
    background-color: var(--dark-gray);
}

.start-button:hover{
    background-color: var(--accent-color);
}

.tour-button:hover{
    background-color: var(--gray);
}

.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container{
    border-radius: 0.9rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0,0,0.1);
    height: 55vh;
}

.section-image{
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 786px) {
  .main-section{
    flex-direction: row;
  }

  .content-left{
    max-width: 50%;
    text-align: left;
  }

  .section-tittle{
    padding-left: 0;
  }

  .button-group{
    justify-content: start;
    padding-left: 0;
  }

  .section-label{
    font-size: 1rem;
  }

  .section-tittle{
    font-size: 3.5rem;
  }

  .image-container{
    height: 65vh;
  }

  .section-desc{
    font-size: 1.2rem;
    width: 75%;
  }
}

.company-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    animation: slideFromLeft 1s ease forwards;
}

.company-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.6rem;
    padding: 2rem;
    background-color: var(--light-gray);
    border: none;
    border-radius: 0.654rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.5rem 2rem;
}

.company-logo{
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    gap: 0.5rem;
}

.svg-img{
    height: 1.56rem;
}

.logo-txt{
    font-size: 1rem;
}

@media screen and (min-width: 640px){
    .company-grid{
        grid-template-columns: repeat(4, 1fr);
    }
}

.company-tittle{
    font-size: 2.5rem;
    font-weight:bold;
}

.feature-container{
    background-color: var(--light-gray);
    padding: 2rem 0;
    text-align: center;
}

.feature-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}

.main-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-tittle{
    font-size: 2.15rem;
}

.main-desc{
    color: var(--dark-gray);
    font-size: 1rem;
}

.feature-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin-top:1.3rem;
    animation: slideFromLeft 1s ease-out backwards;
}

.icon-container{
    background-color: #fff;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #909fd5;
    padding: 1rem;
    border-radius: 1rem ;
}

.feature-svg{
    width:1rem;
    height:1.5rem;
}
.feature-tittle{
    margin-top: 1rem;
    font-size: 1.35rem;
    color: #fff;
    font-weight: 600;
}

.feature-desc{
    padding: 0.5rem;
    color:#fff;
}
.feature-card:nth-child(1){
    background-color: #4a90e2;
}

.feature-card:nth-child(2){
    background-color: #FF6289;
}

.feature-card:nth-child(3){
    background-color: #fcbf58;
}

.feature-card:nth-child(4){
    background-color: #44bfc3;
}

.feature-card:nth-child(5){
    background-color: #77b05d;
}

.feature-card:nth-child(6){
    background-color: #7d78b1;
}

@media  screen and (max-width: 768px){
    .feature-grid{
        grid-template-columns: repeat(1,1fr);
    }   
}

.test-container{
    max-width:1280px;
    margin:0 auto;
    padding:2rem;
    background-color: var(--background-color);
}

.test-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test-tittle{
    font-size: 1.875rem;
    font-weight: bold;
}
.test-grid{
    display: flex;
    padding: 1rem;
    gap: 1rem;
}

.test-card{
 display: flex;
flex-direction: column;
border: 1px solid rgb(104, 90, 90);
border-radius: 1rem;
box-shadow: 0 2px 4px rgba(141, 128, 128, 0.2) ;
padding: 0.5rem;
gap: 1.6rem;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.test-card:hover{
 transform: scale(1.05);
 box-shadow: 0 4px 8px rgba(0, 0,0,0.2);
 border: 1px solid blue ; 
}

.test-avatar img{
    height: 5rem;
    width: 5rem;
}

.test-text{
    font-size: 0.87rem;
    color: #555;
}

.test-name{
    font-size: 1rem;
    color: var(--primary-color);
}

.test-desc{
    font-size: 0.875rem;
    color: var(--gray);
}

.newsletter-container{
    background-color: var(--background-color);
    max-width: 1280px;
    height: 36vh;
    margin: 0 auto;
}
.newsletter-content{
    display: flex;
    background-color: var(--light-gray);
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.left-part{
    width: 50%;
    height: 100%;
    position: relative;
    display: none;
}

.left-part img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}

.right-part{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2.5rem;
    justify-content: center;
    align-items: flex-start;
}

.news-info{
    padding: 0.5rem;
}

.news-tittle{
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: bold;
}

.news-desc{
    text-align: left;
    color: #000;
}

.news-form{
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 0.3rem;
}

.news-email{
    background-color: var(--background-color);
    /* width: 100%; */
    color: #333;
    outline: none;
    border: 1px solid var(--light-gray);
    border-radius: 4px ;
    padding: 0.5rem 0.75rem;
}

.news-email:focus{
    border-color: blue;
    box-shadow: 0 4px 8px rgba(0, 0,0,0.3);
}

.send-btn{
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}

.send-btn:hover{
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    cursor: pointer;
    background-color: var(--accent-color);
}

.news-terms{
    font-size: 0.76rem;
    padding: 0 2rem;
    color: #777;
}

.terms-link{
    text-decoration: underline;
    color: blue;
}

@media screen and (min-width: 786px){
    .left-part{
        display: block;
        padding: 2rem ;
    }
}

.footer-container{
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}

.footer{
    max-width: 1280px;
    padding: 1rem 2.4rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.footer-top{
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 1.65rem;
}

.logo-svg{
    width: 2rem;
    height: 6rem;
}

.comp-logo{
    display: flex;
    justify-content: flex-start;
    margin-bottom: -1.9rem;
}

.social-icon{
 width: 1.5rem;
height: 1.5rem;   
}

.logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.28rem;
    font-weight: bold;
    color: black;
}

.filler-text{
    font-size: 1rem;
    color: #777;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    padding: 2rem 1rem;
}

.footer-grid-heading{
    font-size: 1.05rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 1.56rem ;
}

ul{
    list-style-type: none;
}

.footer-link{
    color: #777;
    font-size: 0.9rem;
}

.footer-links-list{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.socials{
    display: flex;
    gap: 1rem;
}

.footer-copy{
    color: var(--gray);
    font-size: 0.75rem;
    padding-bottom: 2rem;
    margin-top: 1rem;
    border-top: 1px solid #E5E7EB;
    padding-top: 1.5rem;
}


@media screen and (max-width: 1080px){
   .footer{
    flex-direction: column;
    align-items: center;
   }
   .footer-top{
    padding-left: 7rem;
    }
    .footer-grid{
        align-self: center;
        justify-content: space-evenly;
    }
}

@media  screen and (max-width:850px) {
    .footer-top{
        padding-left: 2rem;
    }
    .footer-grid{
          grid-template-columns: repeat(2,1fr);
    }
}


